@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Montserrat:wght@300;400&display=swap');

:root {
  --white: #E4E5EA;
  --grey: #656566;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  background-color: #1E1E1E;
  color: var(--white);
}

.app {
  position: relative;
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .app {
    width: 320px;
  }
}