.footer {
  display: flex;
  justify-content: space-between;
  height: 315px;
  padding-top: 125px;
}

.footer_left,
.footer_middle,
.footer_middle__left,
.footer_middle__right,
.footer_right {
  display: flex;
  flex-direction: column;
}

.footer_middle {
  margin-right: 65px;
}

.footer_right {
  text-align: right;
}

.footer_middle__wrapper {
  display: flex;
  gap: 50px;
}

.footer_title {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--grey);
  margin-bottom: 10px;
}

.footer_link {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--white);
  text-decoration: none;
  margin-top: 10px;
}

.footer_phone-number {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-top: 10px;
}

.footer_socials {
  display: flex;
  justify-content: space-between;
  width: 80px;
  align-self: flex-end;
  margin: 21px 0;
}

.footer_socials > img {
  cursor: pointer;
}

.footer_address {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  font-style: normal;
}

.footer_rights {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin-top: 70px;
}

.footer_rights > a {
  margin-top: 5px;
  margin-bottom: 20px;
}

.footer_rights__link {
  color: var(--white);
}

@media (max-width: 1200px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: none;
    height: 615px;
    padding-top: 1px;
  }
  
  .footer_middle {
    margin-right: 0;
    margin-top: -42px;
  }
  
  .footer_title {
    font-size: 12px;
    line-height: 15px;
    color: var(--grey);
    margin-bottom: 10px;
  }
  
  .footer_link {
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    margin-top: 10px;
  }

  .footer_middle__right .footer_link:nth-child(2) {
    order: -1;
  }
  
  .footer_right {
    position: relative;
    top: -42px;
    text-align: left;
  }

  .footer_phone-number {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-top: 10px;
  }
  
  .footer_socials {
    position: relative;
    top: -10px;
    display: flex;
    justify-content: space-between;
    width: 85px;
    align-self: flex-start;
    margin: 19px 0 19px 5px;
  }
  
  .footer_socials > img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .footer_address {
    position: relative;
    top: -18px;
    font-size: 14px;
    line-height: 17px;
  }
  
  .footer_rights {
    position: relative;
    top: -38px;
  }
}